.content {
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background-image: url(/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content h2 {
    color: var(--quellaveco-azul);
    margin-top: 50px;
    font-size: 2.5vw;
    font-weight: normal;
    align-items: center;
    text-transform: capitalize;
    color: var(--quellaveco-azul);
    background-color: #FFF;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5em;

    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out forwards;
}

main img:nth-child(2) {
    position: absolute;
    top: 67px;
    left: 97px;

    z-index: 10;
    max-width: 12em;
}

main img:nth-child(3) {
    position: absolute;
    bottom: 117px;
    left: 97px;

    z-index: 10;
    max-width: 12em;
}

.right-box {
    z-index: 10;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF; /* Azul */
    border: 2px solid #0056b3;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.boton:hover {
    background-color: #0056b3; /* Azul más oscuro */
    border-color: #003f7f;
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.boton:active {
    background-color: #004080;
    transform: scale(0.95);
}