main {
    grid-template-rows: auto 1fr;
    background: radial-gradient(ellipse 100% 100% at bottom, var(--quellaveco-azul-claro) 10%, var(--quellaveco-azul) 40%);
}

#title {
    text-align: right;
    justify-content: flex-end;

    p {
        color: var(--color-blanco);
        font-size: var(--font-7);
    }
}

.content {
    flex-direction: column;
    gap: 2em;
}

.content-top{
    background-color: var(--color-blanco);
    max-width: 70em;
    text-align: left;
    border-radius: 0.5em;
    padding: 2em;
    
    h4,p {

        color: var(--quellaveco-azul);
    }
}

.content-bot{
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-rows: 1fr 1fr;

    max-width: 40em;
    background-color: #5FB6E81A;
    border-radius: 0.5em;
    padding: 2em;
    gap: 0;

    h3,p {
        color: var(--color-blanco);
    }

    p {
        font-weight: normal;
    }
}