.text {
    font-size: 1.8vw;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 1.8em;
}

.text h3{
    color: var(--quellaveco-azul);
}

.text ul{
    margin-top: 50px;
    list-style-position: inside;
}

.text li{
    color: var(--quellaveco-gris);
}