main {
    grid-template-rows: auto 1fr;
    gap: 0.5em;
}

.content {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    max-width: 80%;
    border-collapse: separate;
    background-image: linear-gradient(to bottom, #FF0000, #351EE0, #347FF6, #1F87C6);
    background-origin: border-box;
    border-spacing: 1.6px;
    border: 0.5px solid transparent;
}

th,
td {
    border: none;
    padding: 8px;
    text-align: center;
    background-color: #FFF;
}

.header {
    font-weight: bold;
    /* background: linear-gradient(-15deg, var(--quellaveco-azul-claro), var(--quellaveco-azul-oscuro)); */
    /* color: #FFF; */
}

.left-align {
    text-align: left;
}

@media only screen and (max-width: 48em) {
    th {
        display: none;
    }
    td {
        display: grid;
        gap: .5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td::before {
        content: attr(data-cell) ": " ;
        font-weight: bold;
    }

    td:last-child {
        text-align: center;
    }
}