main {
    grid-template-rows: auto 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text ul{
    padding-left: 0.8em;
}

.text li{
    font-size: var(--font-6);
    color: var(--quellaveco-gris);
}