main {
    grid-template-rows: auto 1fr;
    gap: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content p {
    padding: 0 0.1em 0 1em;
}

.img-container,
section {
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(139, 139, 139, 0.086);
    color: var(--quellaveco-azul);
}

section {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

section .img-container:nth-child(1),
section .img-container:nth-child(2) {
    height: 50%;
    padding: 1.5em 0 1.5em 0;
    background-color: transparent;
}

.img-container img {
    margin: 1em;
}

.img-container p {
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 48em) {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 1.8em;
        gap: 1.8em;
    }
}

