main {
    grid-template-rows: auto 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content h4{
    color: var(--quellaveco-azul);
}

.content ul{
    padding-left: 0.8em;
}

.content li{
    font-size: var(--font-6);
    color: var(--quellaveco-gris);
}