.content {
    max-width: 70em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

.content h2 {
    background: linear-gradient(to right, #FF0000, #351EE0, #347FF6, #1F87C6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideIn 1s ease-in-out forwards;
}

.content p {
    margin-bottom: 0.5em;
}