.content {
    grid-template-columns: repeat(1, auto);
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center;
    gap: 50px; /* Reduce la separación entre elementos */

}

.content-top{
    background-color: #fff;
    align-items: center;
    text-align: left;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.content-top p{
    color: #031795;
}

.content-bot{
    background-color: #5FB6E81A;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
   
}

.content-bot h3 {
    color: #fff;
    margin-bottom: 10px; /* Espacio debajo del título */
}

.content-bot p {
    color: #fff;
    margin-top: 10px; /* Espacio encima del párrafo */
}
main{
    /* background: linear-gradient(to top,  #337CF4 25%, #031795); */
    background: #031795;
}