.img-container img {
    max-width: 70%;
    max-height: 70%;
    padding: 0.4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background: linear-gradient(to bottom, #FF0000, #351EE0, #347FF6, #1F87C6);
}


.texto-debajo{
    align-items: center;
    margin-left: 14%;
    margin-bottom: 5%;
}
.texto-debajo p{
    color: #1e2b3b;
}