.img-container img {
    max-width: 90%;
    max-height: 90%;
    padding: 0.4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background: none;
    border: 5px solid ;
    border-color: linear-gradient(to bottom, #FF0000, #351EE0, #347FF6, #1F87C6);
}