main {
    grid-template-rows: auto 1fr;
}

.content {
    gap: 1em;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.text-container {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h2 {
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out forwards;
}

.images {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.img-container:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: right;
}

.img-container:nth-child(2) {
    align-items: flex-end;
    width: 80%;
}

.img-container:nth-child(3) {
    align-items: flex-start;
    width: 80%;
}

@media only screen and (max-width: 48em) {
    .content {
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
    }

    #sidebar.close {
        width: 3em;
    }
}