main {
    grid-template-rows: auto 1fr;
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 5fr 1fr;
    place-content: center;

    gap: 0.5em;
    padding: 0.8em;
}


#toggleImage img {
    position: relative;
    width: 100%;

    background: transparent;
    /* border: 0.05rem solid rgba(178, 178, 178, 0.221); */
    /* box-shadow: 0.4rem 0.4rem 0.4rem rgba(178, 178, 178, 0.554), -0.8rem -0.8rem 2.4rem white, -0.2rem -0.2rem 0.2rem white; */

    transition: all 120ms ease-out;
}

/* Imagen extra oculta al inicio */
.extra-image {
    display: none;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.extra-image img {
    width: 50%;
}

/* Cuando se muestra, aparece en la fila */
.extra-image.show {
    display: flex;
    flex-direction: column;
    opacity: 1;

    grid-column-start: 1;
    grid-column-end: 3;
}

.extra-image.show p {
    color: var(--quellaveco-azul);
    text-align: center;
    margin-top: 0.5em;
    transition: opacity 0.3s ease-in-out;
}


@media only screen and (min-width: 64em) {

    .extra-image.show {
        display: flex;
        flex-direction: row;
    }

    .extra-image.show img {
        width: 20%;
    }
}