main {
    grid-template-rows: auto 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 1em;
}

.img-container {
    flex-direction: column;
    gap: 0.5em;
    color: var(--quellaveco-azul);
}