/* Reset y variables */
:root {
    --quellaveco-azul: #031795;
    --quellaveco-azul-oscuro: #1D107A;
    --quellaveco-azul-claro: #351EED;
    --quellaveco-celeste: #2785C7;
    --quellaveco-gris: #565656;
    --quellaveco-rojo: #FF0000;
    --color-blanco: #FFF;

    --font-8: clamp(0.5208rem, 0.3681rem + 0.7638vw, 0.96rem);
    --font-7: clamp(0.625rem, 0.425rem + 1vw, 1.2rem);
    --font-6: clamp(0.75rem, 0.4891rem + 1.3043vw, 1.5rem);
    --font-5: clamp(0.9rem, 0.5609rem + 1.6957vw, 1.875rem);
    --font-4: clamp(1.08rem, 0.6404rem + 2.1978vw, 2.3438rem);
    --font-3: clamp(1.296rem, 0.7278rem + 2.8412vw, 2.9297rem);
    --font-2: clamp(1.5552rem, 0.8224rem + 3.6642vw, 3.6621rem);
    --font-1: clamp(1.8662rem, 0.9231rem + 4.7155vw, 4.5776rem);
}


/* Fuente */

@font-face {
    font-family: "Aa Smart Sans";
    src: url("fonts/AASmartSans-Bold.woff") format("woff"),
        url("fonts/AASmartSans-Bold.woff2") format("woff2");

    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Aa Smart Sans";
    src: url("fonts/AASmartSans-SemiBold.woff") format("woff"),
        url("fonts/AASmartSans-SemiBold.woff2") format("woff2");

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Aa Smart Sans";
    src: url("fonts/AASmartSans-Regular.woff") format("woff"),
        url("fonts/AASmartSans-Regular.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Aa Smart Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    background: rgba(39, 133, 199, 0.3);
    min-height: 100dvh;
}

img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.container {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
}

/* BOTON SIGUIENTE */

.next-page-btn {
    position: absolute;
    background: linear-gradient(25deg, var(--quellaveco-azul-claro), var(--quellaveco-azul-oscuro) 60%);
    border: none;

    position: fixed;
    right: 0px;
    top: 0;
    min-width: 5em;
    min-height: 3em;

    display: grid;
    place-content: center;

    border-bottom-left-radius: 0.5em;
    transition: transform 0.3s ease, background 0.3s ease;

    z-index: 9;
}

.next-page-btn:hover {
    transform: scale(1.2);
    background: linear-gradient(115deg, var(--quellaveco-azul-claro), var(--quellaveco-azul-oscuro) 60%);
}

.next-page-btn i {
    color: var(--color-blanco);
    transition: transform 1s ease;
}

/* MAIN CONTENT */

main {
    position: relative;

    display: grid;
    place-content: center;

    background: linear-gradient(to left, var(--color-blanco) 70%, rgba(39, 133, 199, 0.1));
}

main h1 {
    font-size: var(--font-1);

    font-weight: normal;
    background: linear-gradient(to right, #ff0000, #351ee0, #347ff6, #1f87c6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: slideIn 1s ease-in-out forwards;
}

main h2 {
    font-size: var(--font-3);
}

main h3 {
    font-size: var(--font-4);
}

#title h3 {
    background: linear-gradient(to right, #ff0000, #351ee0, #347ff6, #1f87c6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: slideIn 1s ease-in-out forwards;
}

main h4 {
    font-size: var(--font-5);
}

main p {
    font-size: var(--font-6);
    color: var(--quellaveco-gris);
}

/* TITLE */

#title {
    margin: 2.9em 0.9em 0 0.9em;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    margin: 0 0.9em 0.9em 0.9em;
}

/* #title h2 {
    margin-top: 50px;
    font-size: 2.5vw;
    align-items: center;
    text-transform: capitalize;
    background: linear-gradient(to right, #FF0000, #351EE0, #347FF6, #1F87C6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out forwards;
} */

/* CONTENT */

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/* IMAGENES */

.img-container img {
    max-width: 90%;
    max-height: 90%;
    padding: 0.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background: linear-gradient(to bottom, #FF0000, #351EE0, #347FF6, #1F87C6);
}

.img-container img:hover {
    transform: scale(0.99);
    cursor: pointer;
}

/* ZOOM IMG */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: opacity 0.3s ease-in-out;
}

.overlay img {
    width: 500px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    animation: zoomIn 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.close-btn:hover {
    transform: scale(1.2);
}

/* ANIMACIONES */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 48em) {
    .container {
        grid-template-columns: auto 1fr;
    }

    main {
        margin-left: 3em;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

/* Mobile */
@media only screen and (min-width: 0em) {
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}