.content {
    display: flex; /* Mantiene las imágenes en la misma fila */
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    max-width: 90%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Imagen extra oculta al inicio */
.extra-image {
    display: none;
    opacity: 0;
    transform: translateX(50px); /* Empieza más a la derecha */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Cuando se muestra, aparece en la fila */
.extra-image.show {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.extra-image.show p{
    color: #001f87; /* Azul */
    font-size: 15px;
    margin-top: 10px;
    transition: opacity 0.3s ease-in-out;
}